// borders
$brad: 4px;


// colors
$dark: #2d3439;
$dg: #444e55;
$grey: #71828e;
$lg: #c2ced6;
$light: #f1f2f4;

// sizes
$small: 16px;
$medium: 20px;
$large: 30px;


// shadows
$shadow: 0 29px 32px -20px rgba(0, 0, 0, 0.5),
0 4px 11px -3px rgba(0, 0, 0, 0.25) !global;